@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Недвижимость</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RealEstateAgency.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/d1ac7949f1.js" crossorigin="anonymous"></script>

</head>
<body style="height: auto;">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white mb-1" style="padding-left: 15px; padding-right: 15px;">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Агентство Недвижимости</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CreateListing"><i class="fa-solid fa-circle-plus"></i> Разместить объявление</a>
                        </li>
                        @if (User.Identity is not null && User.Identity.IsAuthenticated && User.IsInRole("admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Buildings" asp-action="Index"><i class="fa-solid fa-building"></i> Управление домами</a>
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        @if (User.Identity is not null && User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <div class="dropdown">
                                <a id="firstName" class="nav-link text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Index"><i class="fa-solid fa-gear"></i> Настройки профиля</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Index"><i class="fa-solid fa-list"></i> Мои объявления</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Favourites"><i class="fa-solid fa-heart"></i> Избранное</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Logout" style="color:red;"><i class="fa-solid fa-right-from-bracket"></i> Выйти</a></li>
                                    </ul>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Авторизация</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Регистрация</a>
                            </li>                            
                        }
                     </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

<style>
    
    .container-fluid {
        padding-left: 0rem;
        padding-right: 0rem;
        <!--overflow: hidden;-->
    }   

    footer {
        background: #81ccfb;
        padding: 1em;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }
    html, body {
        margin: 0; 
        height: 100%; 
        overflow: hidden;
    }

    nav {
        padding-right: 2rem !important;
        padding-left: 2rem !important;
    }

    .dropdown-menu {
        min-width: 15rem;
        font-size: 0.9rem;
    }
    
</style>

<script>
    //var item = document.getElementById('firstName');
    if("@User.Identity.IsAuthenticated" == "True")
    {
        var fullName = '@User.FindFirstValue(ClaimTypes.NameIdentifier)';
        $.ajax({
            type: 'GET',
            data: { id: fullName},
            url: '/Account/GetFirstName?handler=FirstName',
            success: function (result) {
                $('#firstName').html("<i class=\"fa-solid fa-user\"></i> " + result);
            }
        });
    }
</script>

</html>
